@font-face {
  font-family: plumpfull;
  src: url("../fonts/plumpfull.ttf") format("truetype");
}

/* Container */
body {
    overflow-x: hidden;
}

.container-home {
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.container {
    height: 100%;
    max-width: 1200px;
    position: relative;
}

.narrow {
  max-width: 960px;
}

.more-narrow {
  max-width: 760px;
}
/* End Container */

/* Utils */
.row {
    height: 100%;
}
/* 
nav {
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
} */

section {
    position: relative;
    height: 100vh;
    max-height: 800px;
}

.tc {
    text-align: center;
}

.uc {
    text-transform: uppercase;
}

.rel {
    position: relative;
    height: 100%;
}

.vercenterflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 100%;
}
/* End Utils */

/* Sections */

section.home {
    background: linear-gradient(180deg, #72B9E1 0%, #FCF3EF 100%);
}

section.video {
    margin-top: -180px;
    padding-top: 180px;
    z-index: 2;
    background: url(../images/home/2-bg.png);
}

section.play {
    height: 100vh;
    margin-top: -180px;
    padding-top: 180px;
    padding-bottom: 80px;
    z-index: 2;
    background: url(../images/home/3-bg.png);
}

section.art {
    height: 110vh;
    margin-top: -150px;
    padding-top: 150px;
    padding-bottom: 80px;
    z-index: 2;
    background: url(../images/home/4-bg.png) top;
}

section.kidizen {
    height: 100vh;
    margin-top: -195px;
    padding-top: 195px;
    padding-bottom: 80px;
    z-index: 2;
    background-position: center;
    background: url(../images/home/5-bg.png);
}

section.instagram {
    height: 90vh;
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 80px;
    z-index: 2;
    background-position: center;
    background: url(../images/home/6-bg.png);
}

section.partner {
    height: 90vh;
    margin-top: -195px;
    padding-top: 195px;
    padding-bottom: 80px;
    z-index: 2;
    background: url(../images/home/partnerbg.png) repeat-x;
}

section.contact {
    height: 100vh;
    margin-top: -195px;
    padding-top: 195px;
    padding-bottom: 75px;
    z-index: 2;
    background: url(../images/home/contactblue.png) repeat-x;
}

section.whatis {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;

  background: linear-gradient(180deg, rgba(248,222,181,1) 0%, rgba(245,242,239,1) 35%, rgba(248,222,181,1) 100%);
}

section.methods {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;

  background: linear-gradient(180deg, rgba(203,196,222,1) 0%, rgba(245,241,242,1) 100%);
}

section.mascots {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;

  background: linear-gradient(180deg, rgba(187,223,188,1) 0%, rgba(242,241,241,1) 35%, rgba(187,223,188,1) 100%);
}

section.login {
  max-height: 100%;
  height: calc(100vh - 360px);
  padding-top: 180px;
  padding-bottom: 180px;
  overflow: hidden;

  background: linear-gradient(180deg, rgba(254,226,91,1) 50%, rgba(245,241,242,1) 100%);
}

section.register {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
  background: linear-gradient(180deg, rgba(254,226,91,1) 50%, rgba(245,241,242,1) 100%);
}

section.parenting {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 190px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(171,210,180,1) 0%, rgba(185,218,141,1) 75%);
}

section.result {
  max-height: 100%;
  height: 100%;
  padding-top: 140px;
  padding-bottom: 190px;
  background: linear-gradient(0deg, rgba(224,176,205,1) 0%, rgba(221,134,180,1) 75%);
}

section.talent {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 190px;
  z-index: 2;
  background: url(../images/home/parenting/bg.png);
}

section.footer {
  height: 100%;
  margin-top: -175px;
  padding-top: 175px;
  z-index: 2;
  background: url(../images/home/footerwhite.png);
}

section.question {
  max-height: 100%;
  height: calc(100vh - 300px);
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;

  background: linear-gradient(0deg, rgba(171,210,180,1) 0%, rgba(185,218,141,1) 75%);
}

section.next {
  margin-top: -120px;
  height: 100%;
  z-index: 99;
}

section.partnerpage {
  max-height: 100%;
  height: 100%;
  padding-top: 140px;
  padding-bottom: 180px;
  background: linear-gradient(0deg, rgba(214,227,238,1) 0%, rgba(144,196,230,1) 75%);
}

section.supportpage {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/partner/supportbg.png);
}

section.scholarship {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(214,227,238,1) 0%, rgba(144,196,230,1) 75%);
}

section.scholarlist {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/academic/bgscholar.png);
}


section.kidmarket {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 190px;
  z-index: 2;
  background: url(../images/home/market/marketbg1.png);
}

section.kidmartlist {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/market/marketbg2.png);
}


section.official {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/market/marketbg3.png);
}

section.inputmarket {
  max-height: 100%;
  /* height: calc(100vh - 300px); */
  height: 100%;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;

  background: linear-gradient(0deg, rgba(248,169,141,1) 0%, rgba(243,142,178,1) 75%);
}

section.kidizenpage {
  max-height: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 190px;
  z-index: 2;
  background: linear-gradient(0deg, rgba(201,231,217,1) 0%, rgba(68,198,233,1) 75%);
}

section.beritalist {
  height: 100%;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/kidizen/kidzbg2.png);
}

section.inputberita {
  max-height: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(201,231,217,1) 0%, rgba(68,198,233,1) 75%);
}

section.beritacontent {
  max-height: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;

  background: linear-gradient(0deg, rgba(201,231,217,1) 0%, rgba(68,198,233,1) 75%);
}

section.sport {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(252,177,58,1) 0%, rgba(245,129,55,1) 75%);
}

section.dreamsport {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/sportbg.png);
}

section.tutorsport {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidsportbg.png);
}

section.tasksport {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/tasksportbg.png);
}

section.stem {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(214,227,238,1) 0%, rgba(144,196,230,1) 75%);
}

section.dreamstem {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/stembg.png);
}

section.tutorstem {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidstem.png);
}

section.taskstem {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/taskstem.png);
}

section.culture {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(99,198,185,1) 0%, rgba(252,181,85,1) 75%);

}

section.dreamculture {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/culturebg.png);
}

section.tutorculture {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidculture.png);
}

section.taskculture {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/taskculture.png);
}

section.kidspren {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(176,225,240,1) 0%, rgba(39,195,235,1) 75%);

}

section.dreamkidspren {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/kidsprenbg.png);
}

section.tutorkidspren {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidkidspren.png);
}

section.taskkidspren {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/taskkidspren.png);
}

section.kidzprg {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(0deg, rgba(217,76,59,1) 0%, rgba(245,132,109,1) 75%);

}

section.dreamkidzprg {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/kidzprg.png);
}

section.tutorkidzprg {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidkidzprg.png);
}

section.taskkidzprg {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/taskkidzprg.png);
}

section.artprg {
  max-height: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 180px;

  background: linear-gradient(180deg, rgba(92,201,223,1) 0%, rgba(92,191,136,1) 75%);

}

section.dreamartprg {
  height: 400px;
  margin-top: -195px;
  padding-top: 195px;
  padding-bottom: 180px;
  z-index: 2;
  background: url(../images/home/programs/artprg.png);
}

section.tutorartprg {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 100px;
  z-index: 2;
  background: url(../images/home/programs/vidart.png);
}

section.taskartprg {
  height: 100%;
  margin-top: -195px;
  padding-top: 220px;
  padding-bottom: 400px;
  z-index: 2;
  background: url(../images/home/programs/taskart.png);
}

/* End Sections */

/* NAV */
/* NAV */
nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100vw;
  }
  
  nav .logoHome {
    width: 13%;
    margin-top: 1%;
    margin-left: 3%;
    transition: .3s;
  }
  
  nav .logoHome:hover {
    filter:brightness(125%);
    transform: rotate(-4deg) scale(1.3);
  }
  
  .tombolNav {
    width: 80%;
    position: absolute;
    right: -170px;
    top: 0;
  }
  
  .tombolNav ul {
    width: 100%;
    list-style-type: none;
  }
  
  .tombolNav ul li {
    float: left;
    width: 19%;
    background-color: violet;
    padding: 5px 0 5px 5px;
    transform: rotate(-23deg) scale(1) translateY(0);
    margin: auto -6%;
    border-radius: 30px 0 0 30px;
    border: .2em solid white;
    font-family: 'plumpfull';
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 5px 5px 10px #888888;
    transition: .15s;
  }
  
  .tombolNav ul li:hover {
    transform: rotate(-23deg) scale(1.1) translateY(0);
  }
  
  .tombolNav ul li:nth-last-child(-n+2) {
    /* margin-left: -2%;
    margin-right: 0%;
    padding: .8% 0 .8% .8%;
    width: 22%; */

    /* width: 15%;
    margin: 0% -4%; */

    width: 15%;
    margin: 0% -4%;
    padding: 3px 0px 0px 0px;
  }
  
  .tombolNav ul li:last-child {
    /* margin-left: -13%;
    margin-right: 0; */

    padding: 5px 0 5px 5px;

  }
  
  .tombolNav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li:nth-child(1) {
    background-color: #2EB7F7;
  }
  
  nav ul li:nth-child(2) {
    background-color: #99C851;
  }
  
  nav ul li:nth-child(3) {
    background-color: #DA4259;
  }
  
  nav ul li:nth-child(4) {
    background-color: #D6A338;
  }
  
  nav ul li:nth-child(5) {
    background-color: #D175FF;
  }
  
  nav ul li:nth-child(6) {
    background-color: #FCC700;
  }
  
  nav ul li:nth-child(7) {
    background-color: #F147A0;
  }
  
  nav ul li:nth-child(8) {
    background-color: #2AAAC8;
  }

  nav ul li:nth-child(9) {
    background-color: #F147A0;
  }
  
  nav ul li:nth-child(10) {
    background-color: #2AAAC8;
  }

  #id, #en {
    margin: auto 5px;
    height: 25px;
    transition: .2s;
  }

  #en:hover,
  #id:hover {
    filter: drop-shadow(0 0 0.75rem #fff);
    transform: translate(-2px, -2px);
  }
/* END NAV */




/* Section Home */

.awanusik {
    position: absolute;
    width: 95%;

    -webkit-animation: awans 70s linear infinite;
    -moz-animation: awans 70s linear infinite;
    -o-animation: awans 70s linear infinite;
    animation: awans 70s linear infinite;
}


#neo {
    z-index: 1;
    height: auto;
    position: absolute;
    width: 90%;
    bottom: 0;

    -webkit-animation: kucing 1.5s ease-in-out infinite alternate;
    -moz-animation: kucing 1.5s ease-in-out infinite alternate;
    animation: kucing 1.5s ease-in-out infinite alternate;
}

#buble {
    position: absolute;
    top: 20%;
    left: 59%;
}

#balon {
    position: absolute;
    bottom: 10%;
    height: 75%;

    -webkit-animation: rightland 1.9s ease-in-out infinite alternate;
    -moz-animation: rightland 1.9s ease-in-out infinite alternate;
    animation: rightland 1.9s ease-in-out infinite alternate;
}
/* Section Home */


/* Section Video */
.absolutecenter {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
  
.Youtube {
    width: 68%;
    display: flex;
    position: relative;
}
.Youtube.prg {
  width: 100%;
}
.Youtube:after {
    padding-top: 56.25%;

    display: block;
    content: '';
}

.Youtube  iframe{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}

#burungvid {
    position: absolute;
    height: 22%;
    bottom: 28%;
    right: 0;

    -webkit-animation: kucing .6s ease-in-out infinite alternate;
    -moz-animation: kucing .6s ease-in-out infinite alternate;
    animation: kucing .6s ease-in-out infinite alternate;
}

#kucingvid {
    position: absolute;
    height: 30%;
    top: 15%;
    right: 0;

    -webkit-animation: kucing .6s ease-in-out infinite alternate;
    -moz-animation: kucing .6s ease-in-out infinite alternate;
    animation: kucing .6s ease-in-out infinite alternate;
    animation-delay: .3s
}

#kebovid {
    position: absolute;
    height: 23%;
    top: 39%;
    left: 0;

    -webkit-animation: kucing .6s ease-in-out infinite alternate;
    -moz-animation: kucing .6s ease-in-out infinite alternate;
    animation: kucing .6s ease-in-out infinite alternate;
    animation-delay: .6s
}

#land {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* End Section Video */

/* Section Play */
#playbtn {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 40%;
    font-weight: 900;
    font-size: 1.1em;

    border-radius: 24px;
    border-color: #9c67b6;
    background-color: #744989;
    transition: .3s;
}


#playbtn:hover {
    background-color: #9c67b6;
}

#play {
    -webkit-animation: kucing 1.1s ease-in-out infinite alternate;
    -moz-animation: kucing 1.1s ease-in-out infinite alternate;
    animation: kucing 1.1s ease-in-out infinite alternate;
}

/* End Section Play */

/* unstretch */
#olim, #kidiz, #instalogo {
    align-self: center;
    margin-bottom: 25px;
}
/* end unstretch */

/* Section Art */
#lukis {
    bottom: 10%;
    position: absolute;
}

#sellmarket {
    margin-top: -5%;
}

#sellpara {
    margin-bottom: 0;
}

#sellart {
    width: 60%;
    align-self: center;
    margin-bottom: 15px;
}


.thumbsMarket {
    display: flex;
    width: 75%;
    height: 16%;
    bottom: 29%;
    left: 0;
    right: 0;
    margin: 4% auto;
    flex-direction: row;
    justify-content: space-around;
  }
  
.thumbsMarket img {
    height: 100%;
    position: static;
    margin: 0 5px;
}

#seeart {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 30%;
    font-weight: 900;
    font-size: 1.1em;
    
    border-radius: 24px;
    border-color: #9c67b6;
    background-color: #744989;
    transition: .3s;
}


#seeart:hover {
    background-color: #9c67b6;
}

/* End Section Art */

/* Section Kidizen */
#kidzbtn {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 30%;
    font-weight: 900;
    font-size: 1.1em;

    border-radius: 24px;
    border-color: #1c64bd;
    background-color: #0a52aa;
    transition: .3s;
}

#noakidz {
    height: 60%;
    align-self: center;
    margin-bottom: 15px;
}


#kidzbtn:hover {
    background-color: #1c64bd;
}
/* End Section Kidizen */

/* Section Instagram */

#insta {
    margin-top: -10%;
}

#seeinsta {
    text-align: center;
    display: inline;
    width: 50%;
    font-weight: 600;

    border-color: white;
    color: white;
    border-radius: 24px;
}

.instapara {
    color: white;
}

.instapara h6 {
    font-weight: 900;
}

.instaphoto {
    display: flex;
    width: 100%;
    height: 40%;
    bottom: 29%;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.instaphoto img {
    /* height: 100%; */
    position: static;
    margin: 5px 5px;
}
/* End Section Instagram */

/* Section Partner */
#secpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner p {
    color: white;
    text-align: center;
}

.partner h3 {
    text-align: center;
    font-weight: 900;
    color: white;
    margin-top: 50px;
}

.mitrautama {
    display: flex;
    width: 100%;
    height: fit-content;
    bottom: 29%;
    left: 0;
    right: 0;
    margin: 40px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.mitrautama img {
    /* height: 100%; */
    position: static;
    margin: 5px 5px;
    align-self: center;
}

#seepartner {
    text-align: center;
    display: block;
    width: fit-content;
    font-weight: 600;
    margin: 0 auto;
    border-color: white;
    color: white;
    border-radius: 24px;

}

/* End Section Partner */

/* Section Contact */

.address {
    position: absolute;
    bottom: 0;
}

.address p {
    margin-bottom: 1rem;
}

.socialContact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.socialContact li {
    float: left;
    margin-bottom: 0;
}

.socialContact li a:first-child {
    padding-left: 0;
}

.socialContact li a {
    display: block;
    color: #652D90;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 8vh;
    transition: .2s;
}

.socialContact li a:hover {
    color: #a96fd4;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.contactform {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #29aae0;
    padding: 58px 48px;
    position: absolute;
    bottom: 0;
    width: 83%;
}

.contactform h3 {
    font-weight: 900;
    margin-bottom: 0;
}

#submit {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 30%;
    font-weight: 900;
    font-size: 1.1em;
    float: right;
    
    border-radius: 24px;
    border-color: #9c67b6;
    background-color: #744989;
    transition: .3s;
}


#submit:hover {
    background-color: #9c67b6;
}

.address p {
    font-weight: 900;
}

.address #alamat {
    font-weight: 300;
}

#awan-contact {
    position: absolute;
    width: 95%;

    -webkit-animation: awans 70s linear infinite;
    -moz-animation: awans 70s linear infinite;
    -o-animation: awans 70s linear infinite;
}

#backcontact {
    position: absolute;
    bottom: 40%;
    width: 100%;
}
/* End Section Contact */

/* Tablinks */
.tablinks {
  margin-top: 140px;
  position: absolute;
  width: 100%;
  height: fit-content;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tablink {
  width: 25%;
}

.tablinks.abt .tablink {
  opacity: 0.3;
  color: white;
}

.tablinks.abt .tablink:first-child {
  background-color: #c09248;
}

.tablinks.abt .tablink:nth-child(2) {
  background-color: #9352a0;
  
}

.tablinks.abt .tablink:last-child {
  background-color: #51ba6c;
}

.tabcontent {
  display: none;
}


/* End Tablinks */

/* Section Whatis */
.about-us, .mascot {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-us h4 {
  font-family: 'plumpfull';
}

.about-figure {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.about-figure.the {
  max-width: 40%;
}

#glimpse {
  color: #2d995b;
}

#vision {
  text-align: right;
  color: #e24c82;
}

#mission {
  color: #008db9;
}

.mascot p {
  text-align: center;
  margin: 25px auto;
}


.metlinks {
  margin-top: 25px;
  /* position: absolute; */
  width: 100%;
  height: fit-content;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iconmethod {
  width: 13%;
  transform: scale(.8);
  height: auto;
  opacity: .7;
  transition: .5s;
}

.iconmethod.show {
  transform: scale(1);
  opacity: 1;
}

.methodcontent {
  display: none;
  margin: 75px auto;
}

.methodcontent h4 {
  font-family: 'plumpfull';
  color: #96268c;
  text-transform: uppercase;
}

/* End Section Whatis */

/* Section Login */
.dialog-login {
  border-radius: 24px;
  background-color: #F5F2F3;
  padding: 48px 76px;
  box-shadow: 15px 15px #888888b6;
}

.dialog-login .opsi {
  text-align: right;
}

.dialog-login h3 {
  font-family: 'plumpfull';
  color: #54544B;
  margin-bottom: 36px;
}

.font-small, input[type=checkbox]  {
  font-size: small;
  margin: 0;
}

#registchild {
  margin-top: 36px;
}
/* End Section Login */

/* Section Parenting */
#parentfigure,
#resultfigure {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.parenting h3,
.result h3,
.talent h3,
.question h4 {
  font-family: 'plumpfull';
}

.parenting a,
.next a,
.result a,
.talent a {
  width: fit-content;
  background-color: #14455C;
  color: white;
  border-radius: 24px;
}

.parenting a:hover,
.next a:hover,
.result a:hover,
.talent a:hover {
  background-color: #185774;
  color: white;
}

.parenting p,
.result p,
.talent p {
  margin: 52px 0;
}

.parenting {
  color: #14455C;
}

.talent h3 {
  margin-top: 90px;
}

/* Result */
#titresult {
  margin-bottom: 52px;
  color: #14455C;
}

.talent h3,
.talent p {
  color: #14455C;
}

.learner h3,
.learner p {
  color: #8F4972;
}

/* Question */
.question {
  color: #868d91;
}

.question-box {
  background: url(../images/home/parenting/questionborder.svg);
  background-size: cover;
  padding: 24px;
  width: fit-content;
  margin: 0 auto;
}

.question-box.prg {
  width: 72%;
  position: relative;
}

.question-content {
  background-color: white;
  border-radius: 32px;
  padding: 42px 72px;
  width: fit-content;
}

.question-content h4 {
  margin: 0 auto;
}

.question-content small {
  display: block;
}

.questions {
  margin: 24px auto;
}

.questions:last-child {
  margin-bottom: 0;
}

.next a {
  /* display: block; */
  display: block;
  width: fit-content;
  margin: 24px auto;
}
/* End Section Parenting */

/* Section Partner Page */
.partnerpage h4,
.supportpage h4 {
  font-family: 'plumpfull';
  color: #14455C;
}

#prolog {
  width: 50%;
  margin: 42px auto;
  color: white;
}

.sponsor-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sponsor-list img {
  max-width: 100%;
}

.sponsortext {
  margin: 48px auto;
}

.sponsortext h4 {
  margin-top: 48px;
}

.sponsortext p {
  margin: 52px 0;
}

.sponsortext a {
  width: fit-content;
  background-color: #14455C;
  color: white;
  border-radius: 24px;
}

.sponsortext a:hover {
  background-color: #185774;
  color: white;
}

.supportpage h4 {
  color: #008959;
  margin: 48px auto;
}

.support-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 24px auto;
}

/* Section Academic */
.fotosekolah {
  border-radius: 24px;
  border: 4px solid  white;
  box-shadow: 3px 3px #888888;

  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.tablinks.aca .tablink {
  border-color: white;
  color: white;
}

#awanschlist {
  animation-delay: 1s;

  -webkit-animation: awans 50s linear infinite;
  -moz-animation: awans 50s linear infinite;
  -o-animation: awans 50s linear infinite;
  animation: awans 50s linear infinite;
}

.scholarlist h4 {
  background-color: #14455C;
  color: white;
  padding: 6px 48px;
  border-radius: 28px;
  width: fit-content;
}

.sekolah {
  margin-bottom: 24px;
}

.scholarship .content {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #14455C;
}

.scholarship .content h4 {
  margin-top: 32px;
  font-family: 'plumpfull';
}

.scholarlist .schools h4 {
  font-family: 'plumpfull';
  margin: 42px auto;
}

.school-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sekolah {
  width: 28%;
  position: relative;
}

.sekolah img {
  box-shadow: 5px 5px #888888;
  border: 6px solid white;
  border-radius: 5px;
}

.namaskol {
  position: absolute;
  bottom: 0;
  left: 12px;
  font-family: 'plumpfull';
  color: white;
  filter: drop-shadow(3px 3px #444);
}

.namaskol h5 {
  margin-bottom: 0;
}

.beritalist.buletin {
  margin-top: 0;
  background: linear-gradient(0deg, rgba(214,227,238,1) 0%, rgba(144,196,230,1) 75%);
}

/* End Section Academic */

/* Section KidsMarket */
#sellimg {
  margin: 20px auto;
  display: block;
}

#permen2 {
  position: absolute;
  width: 95%;
  left: 1%;
  transition: .4s;
}

#permen2:hover {
  transform: translate(-5px, -10px);
  /* transform: translateY(0, -10px); */
}

.kidmarket a,
.kidizenpage a {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.kidmarket a {
  background-color: #8F3477;
  color: white;
  border-radius: 24px;
  border-color: #8F3477;
  transition: .2s;
}

.kidmarket a:hover {
  background-color: #ac3f8f;
  color: white;
  border-color: #ac3f8f;
}

.kidmartlist h4,
.official h4 {
  font-family: 'plumpfull';
  margin-top: 32px;
  color: white;

  width: fit-content;
  margin: 16px auto;
  padding: 8px 48px;
  background-color: #635F4F;
  border-radius: 32px;
}

.listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dagangan {
  width: 26%;
  flex-grow:0;
  flex-shrink:0;
  margin: 32px;
}

.dagangan img {
  box-shadow: 4px 4px #49876E;
  border: 4px solid white;
  border-radius: 5px;
}

.dagangan h5,
.dagangan h6 {
  margin-bottom: 5px;
  font-family: 'plumpfull';
}

.dagangan h5 {
  color: #635F4F;
}

.dagangan h6 {
  color: #D8685B;
}

.dagangan a {
  width: fit-content;
  margin: 12px auto;
  display: block;

  background-color: #49876E;
  border-radius: 24px;
  color: white;
}

.official .dagangan h5 {
  color: #673D3C;
}

.official .dagangan h6 {
  color: #FEE6D9;
}
/* End Section KidsMarket */

/* Section Input Market */
.question-content.inputmart {
  box-shadow: 15px 15px #ba597cbd;
  width: 100%;
  background-color: #F6F3F4;
}

.photo {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 24px;
  position: relative;
  text-align: center;
}

.uploadbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ceksukses {
  display: block;
  margin: 24px auto;
}

.txtsukses {
  font-family: 'plumpfull';
  color: #8F3477;
}
/* End Section Input Market */

/* Section Kidizen Page */

.kidizenpage a {
  background-color: #14455C;
  color: white;
  border-radius: 24px;
  border-color: #14455C;
  transition: .2s;
}

.kidizenpage a:hover {
  background-color: #1d6688;
  color: white;
  border-color: #1d6688;
}

#kboards {
  margin-left: 3%;
  position: absolute;
  max-width: 95%;
  margin-top: -85px;
}

.srchfrm input[type="search"]::placeholder {
  font-family: FontAwesome;
}

.srchfrm input[type="search"] {
  padding: 12px;
  font-size: 17px;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 16px 0 0 16px;
  float: left;
  width: 80%;
  height: 48px;
  background: white;
  margin-bottom: 64px;
  margin-top: 48px;
}

.srchfrm button {
  float: left;
  height: 48px;
  width: 20%;
  border-radius: 0 16px 16px 0;
  background: #14455C;
  color: white;
  /* font-size: 17px; */
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 64px;
  margin-top: 48px;
}

.srchfrm button:hover {
  background: #236f92;
}

.berita {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.berita img {
  border-radius: 42px;
  border: 4px solid  white;

  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
.namaberita {
  position: absolute;
  bottom: 24px;
  left: 5%;
  width: 90%;
}

.namaberita h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'plumpfull';
}

.namaberita h5,
.namaberita h6 {
  margin-bottom: 5px;
  color: white;
}

.top img,
.bottom img{
  height: 195px;
  width: 100%;
  background: wheat;
  box-sizing: border-box;
}

.top {
  margin-bottom: 5px;
}

.bottom {
  margin-top: 5px;
}

.question-content.inputnews {
  box-shadow: 15px 15px #597688a6;
  width: 100%;
  background-color: #F6F3F4;

}

.inputnews textarea {
  height: 300px;
}

.inputberita h4 {
  font-family: 'plumpfull';
  margin-bottom: 32px;
  color: #14455C;
}

.question-content.inputnews {
  padding: 24px 48px;
}

#submitberita {
  background-color: #14455C;
  border-radius: 24px;
}

.inputnews label {
  font-weight: bold;
}

.containerberita {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 24px;
}

.modal-body .containerberita {
  height: 70%;
}

.containerimg {
  border-radius: 24px 24px 0 0;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
}

.bagianberita {
  padding: 64px 90px;
  color: #14455C;
}

.bagianberita h3 {
  margin-bottom: 12px;
  font-family: 'plumpfull';
}

.bagianberita h6 {
  font-weight: bold;
}

.bagianberita a {
  background-color: #68A6CE;
  color: white;
  width: fit-content;
  border-radius: 24px;
}

.isiberita {
  height: 400px;
  overflow-y: scroll;
  margin: 16px auto;
}

#share {
  width: fit-content;
  display: block;
  margin: 36px auto;
}

.inputberita .txtsukses {
  color: #14455C;
}

/* End Section Kidizen Page */

/* Section Programs */
.tablinks.programs .tablink {
  width: fit-content;
  border-color: white;
}

.sport .content h3,
.dreamsport h3,
.stem .content h3,
.dreamstem h3,
.culture .content h3,
.dreamculture h3,
.kidspren .content h3,
.dreamkidspren h3,
.kidzprg .content h3,
.dreamkidzprg h3,
.artprg .content h3,
.dreamartprg h3 {
  font-family: 'plumpfull';
  margin-top: 40px;
}


.tutorsport h4,
.tutorstem h4,
.tutorculture h4,
.tutorkidspren h4,
.tutorkidzprg h4,
.tutorartprg h4{
  margin-top: 32px;
  font-family: 'plumpfull';
}

.tasksport h4,
.taskstem h4,
.taskculture h4,
.taskkidspren h4,
.taskkidzprg h4,
.taskartprg h4 {
  font-family: 'plumpfull';
  background-color: #595975;
  color: white;
  width: fit-content;
  margin: 0 auto;
  display: block;
  padding: 6px 62px;
  border-radius: 24px;
}

.tasksport table, 
.taskstem table,
.taskculture table,
.taskkidspren table,
.taskkidzprg table,
.taskartprg table {
  margin-top: 32px;
}

.tasksport th,
.taskstem th,
.taskculture th,
.taskkidspren th,
.taskkidzprg th,
.taskartprg th {
  background-color: #9783AB;
  border-radius: 24px 24px 0 0;
  padding: 12px 24px;
  font-family: 'plumpfull';
  color: white;
}

.tasksport td:last-child,
.taskstem td:last-child,
.taskculture td:last-child,
.taskkidspren td:last-child,
.taskkidzprg td:last-child,
.taskartprg td:last-child {
  width: 15%;
  background-color: #85A0B5;
  padding-right: 15px;
}

.tasksport td:nth-child(3),
.taskstem td:nth-child(3),
.taskculture td:nth-child(3),
.taskkidspren td:nth-child(3),
.taskkidzprg td:nth-child(3),
.taskartprg td:nth-child(3) {
  width: 15%;
  background-color: #BBD7ED;
}

.tasksport td:nth-child(2),
.taskstem td:nth-child(2),
.taskculture td:nth-child(2),
.taskkidspren td:nth-child(2),
.taskartprg td:nth-child(2) {
  background-color: white;
}

.tasksport td:nth-child(1),
.taskstem td:nth-child(1),
.taskculture td:nth-child(1),
.taskkidspren td:nth-child(1),
.taskkidzprg td:nth-child(1),
.taskartprg td:nth-child(1) {
  background-color: black;
  padding-right: 0;
}

.points {
  font-size: 14pt;
  color: white;
}

.points span {
  font-size: 52pt;
  font-family: 'plumpfull';
  margin-bottom: 5px;
  line-height: 70px;
}

.statustask {
  margin: 12px auto;
  display: block;
}


.button.retake {
  background-color: white;
  color: #767693;
  border-radius: 24px;
}

/* theme art */
.artprg, .tutorartprg {
  color: #1E5B55;
}

.artprg .content a {
  background-color: #1E5B55;
  border-radius: 24px;
  border-color: #1E5B55;
  transition: .2s;
  color: white;
}

.artprg .content a:hover {
  background-color: #287b72;
  border-color: #287b72;
  color: white;
}

.dreamartprg {
  color: #E2762C;
}

.tutorartprg .question-box {
  background: url(../images/home/programs/boxart.svg);
}

.tutorartprg iframe {
  border-radius: 24px;
  width: 98%;
  margin-left: 1%;
}
/* table theme art */
.taskartprg th,
.taskartprg h4 {
  background-color: #962431;
}

.taskartprg td:nth-child(3) {
  background-color: #F7B0C1;
}

.taskartprg td:last-child {
  background-color: #D84459;
}

/* end table theme art */
/* end theme art */

/* theme culture */
.culture .content a {
  background-color: #514538;
  border-radius: 24px;
  border-color: #514538;
  transition: .2s;
  color: white;
}

.culture .content a:hover {
  background-color: #7c664f;
  border-color: #7c664f;
  color: white;
}
/* table theme culture */
.taskculture th,
.taskculture h4 {
  background-color: #695849;
}

.taskculture td:nth-child(3) {
  background-color: #CEC9C4;
}

.taskculture td:last-child {
  background-color: #AD885C;
}

/* end table theme culture */
/* end theme culture */

/* theme kidizenprg */
.kidzprg .content,
.dreamkidzprg {
  color: #FDE5DB;
}

.kidzprg .content a {
  background-color: #FDE5DB;
  border-radius: 24px;
  border-color: #FDE5DB;
  transition: .2s;
  color: #333;
}

.kidzprg .content a:hover {
  background-color: #fcf5f2;
  border-color: #fcf5f2;
  color: #333;
}

.tutorkidzprg {
  color: #57433E;
}

.tutorkidzprg .question-box {
  background: url(../images/home/programs/boxkidz.svg);
}

.tutorkidzprg iframe {
  border-radius: 24px;
  width: 98%;
  margin-left: 1%;
}
/* table theme kidizenprg */
.taskkidzprg th,
.taskkidzprg h4 {
  background-color: #57433E;
}

.taskkidzprg td:nth-child(3) {
  background-color: #EFB1AF;
}

.taskkidzprg td:last-child {
  background-color: #68504B;
}

/* end table theme kidizenprg */
/* end theme kidizenprg */

/* theme kidspren */
.kidspren .content,
.dreamkidspren,
.tutorkidspren {
  color: #344A52;
}

.kidspren .content a {
  background-color: #344A52;
  border-radius: 24px;
  border-color: #344A52;
  transition: .2s;
}

.kidspren .content a:hover {
  background-color: #4a6872;
  border-color: #4a6872;
}

.tutorkidspren .question-box {
  background: url(../images/home/programs/boxkidspren.svg);
}

.tutorkidspren iframe {
  border-radius: 24px;
  width: 98%;
  margin-left: 1%;
}
/* table theme kidspren */
.taskkidspren th,
.taskkidspren h4 {
  background-color: #344A52;
}

.taskkidspren td:nth-child(3) {
  background-color: #9FDAE2;
}

.taskkidspren td:last-child {
  background-color: #62909B;
}

/* end table theme kidspren */
/* end theme kidspren */

/* theme stem */
.stem .content,
.dreamstem {
  color: #595975;
}

.stem .content a {
  background-color: #595975;
  border-radius: 24px;
  border-color: #595975;
  transition: .2s;
}

.stem .content a:hover {
  background-color: #9595c7;
  border-color: #9595c7;
}

.stem {
  color: #595975;
}

.tutorstem .question-box {
  background: url(../images/home/programs/boxstem.svg);
}

.tutorstem iframe {
  border-radius: 24px;
  width: 98%;
  margin-left: 1%;
}
/* end theme stem */

/* theme sport */
.sport .content {
  color: #9E4C23;
}

.sport .content a {
  background-color: #9E4C23;
  border-radius: 24px;
  border-color: #9E4C23;
  transition: .2s;
}

.sport .content a:hover {
  background-color: #c05d2c;
  border-color: #c05d2c;
}

.dreamsport,
.tutorsport {
  color: #504538;
}

.tutorsport .question-box {
  background: url(../images/home/programs/boxsport.svg);
}

.tutorsport iframe {
  border-radius: 24px;
  width: 98%;
  margin-left: 1%;
}
/* end theme sport */

.tablink {
  border-radius: 24px;
  color: white;
}

/* End Section Programs */


/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 16px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#close,
#close1 {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
  color: #666;
  border-radius: 32px;
  background-color: violet;
}

#close:hover,
#close:focus,
#close1:hover,
#close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 58px 64px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modaltitle {
  font-family: 'plumpfull';
  color: #14455C;
}

.amodal {
  background-color: #14455C;
  border-radius: 24px;
  padding: 6px 24px;
  color: white;
  text-decoration: none;
  transition: .2s;
}

.amodal:hover {
  background-color: #1e5c79;
  color: white;
}
/* Modal */



/* Animasi */

/* Classes */
.bublingpelan {
    -webkit-animation: nameneo 1.7s ease-in-out infinite alternate;
    -moz-animation: nameneo 1.7s ease-in-out infinite alternate;
    animation: nameneo 1.7s ease-in-out infinite alternate;
}
/* End Classes */

/* Home */
@-webkit-keyframes kucing {
    0% {
      transform: translateY(0);
    }
    
    100% {
      transform: translateY(2%);
    }
  }

  @-moz-keyframes kucing {
    0% {
      transform: translateY(0);
    }
    
    100% {
      transform: translateY(2%);
    }
  }

  @-webkit-keyframes nameneo {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.05);
    }
  }
  
  @-moz-keyframes nameneo {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.05);
    }
  }

  @-webkit-keyframes rightland {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.07);
    }
  }
  
  @-moz-keyframes rightland {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(1.07);
    }
  }

  @-webkit-keyframes awans {
    0% {
      left: 0%
    }
    100% {
      left: 100%
    }
  }

  @-moz-keyframes awans {
    0% {
      left: 0%
    }
    100% {
      left: 100%
    }
  }