/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.carousel {
  max-width: 600px;
  position: relative;    
  margin-top: 15%;
}

.carousel-item {
  display: none;
}

.carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
  
  -webkit-animation: rightland 1.9s ease-in-out infinite alternate;
  -moz-animation: rightland 1.9s ease-in-out infinite alternate;
  animation: rightland 1.9s ease-in-out infinite alternate;
}

.carousel-item-visible {
  display: block;
  animation: fadedVisibility 1.8s;

}

.carousel-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.carousel-actions img {
  height: 30px;
  width: 30px;
  /* border-radius: 25px; */
  /* font-size: 20px;
  border: 2px solid white;
  background-color: crimson;
  color: #e0e0e0; */
  transition: all 0.5s;

  opacity: .6;
}

.carousel-actions img#carousel-button-prev {
  transform: scaleX(-1);
}

/* .carousel-actions button:hover {
  background-color: darkred;
} */

.carousel-actions #carousel-slide-nav {
  align-self: flex-end;
}

.carousel-actions #carousel-slide-nav span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: rgba(250, 250, 250, 0.625);
  transition: all 0.5s;
}

.carousel-actions #carousel-slide-nav span + span {
  margin-left: 15px;
}

.carousel-actions #carousel-slide-nav span.nav-current,
.carousel-actions #carousel-slide-nav span.nav-current:hover {
  background: crimson;
}

.carousel-actions #carousel-slide-nav span:hover {
  background: white;
}

@keyframes fadedVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes rightland {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.07);
  }
}

@-moz-keyframes rightland {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.07);
  }
}